* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}

.container {
  min-height: 100vh;     
  width: 100%;           
  display: flex;         
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start; 
  padding: 1rem;          
  box-sizing: border-box;
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.background-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-header {
  display: flex;
  width: 90%;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background: transparent;
}

.hamburger {
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 3px;
}


.nav{
  background-color: transparent;
}

.logo img{
  width: 50px;
  height: auto;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: transparent;  
  border: none;
  color: white;
  font-size: large;
}

.nav li {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.language-dropdown {
  position: relative ;
  display: inline-block;
  width: 20px;
  background-color: transparent;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  color: white;
  margin-bottom: 1rem;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: off;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  z-index: 1000;
  min-width: 0; 
  width: auto;
  overflow: off;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dropdown-item img {
  width: 26px;
  height: 18px;
  margin-left: 1rem; 
}

.dropdown-button .flag-icon {
  width: 26px;
  height: 18px;
  margin-left: 2px;
}
.dropdown-item .flag-icon {
  width: 26px;
  height: 18px;
}

.flag-icon {
  width: 26px;
  height: 18px;
  border-radius: 6px;
  vertical-align: middle;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.close-button{
  background-color: #089e1e;
  border-radius: 3rem;
  border: none;
  color: white;
  width: 270px;
  height: 56.5px;
  margin-top: 27px;
  margin-bottom: 27px;
  font-size: 18px;
}

.terms-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.terms-heading h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}


.terms-content {
  background-color: white;
  color: gray;
  padding: 40px;
  border-radius: 2rem;
  max-width: 750px;   
  width: 100%;        
  text-align: center;  
  box-sizing: border-box;
}
.terms-container p {
  margin-bottom: 10px;
}

.mobile-menu {

  position: absolute;
  transition: height 0.3s ease-in-out;
  opacity: 0.3s ease-in-out;
  width: 0.3s ease-in-out;
  top: 65px;
  background: white;
  color: #333;
  padding: 1rem;
  border-radius: 0 0 12px 12px;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  transition: all 0.4s ease;
}

@media (max-width: 1000px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
  }
}

@media (max-width: 768px) {
  .terms-content {
    padding: 20px;      
    border-radius: 1rem;
  }

  .terms-heading h1 {
    font-size: 1.5rem;
  }
}